[submodule "react-native-performance"]
	path = react-native-performance
	url = https://github.com/bitbeter/playground-react-native-performance
	branch = master
[submodule "nativescript-performance"]
	path = nativescript-performance
	url = https://github.com/bitbeter/playground-nativescript-performance
	branch = master
[submodule "typescript-design-pattern"]
	path = typescript-design-pattern
	url = https://github.com/bitbeter/playground-typescript-design-pattern
	branch = master